<section id="header" class="bg-primary text-primary-foreground p-4">
    <h1><%= name %></h1>
    <h2 class="mb-3 text-primary-foreground"><%= personalInfo.profession %></h2>
    <div class="row pt-2">
        <div class="col">
            <h3><%= personalInfo.addressLabel %></h3>
            <address><%= personalInfo.address %></address>
        </div>
        <div class="col lead">
            <h3><%= personalInfo.contactLabel %></h3>
            <ul class="list-unstyled">
                <% personalInfo.socialMedia.forEach(social => { 
                    let code = `
                        <li class="social-media mb-3">
                            <i class="bi bi-${social.name.toLowerCase()}"></i>
                            <span class="pl-2 text-primary-foreground">
                                ${social.name}: <a href=${social.link} class="sm-link">${social.link}</a>
                            </span>
                        </li>
                    `  %>
                    <%- code %>
                <% }) %>
            </ul>
        </div>
    </div>
</section>