<%- include('../partials/header') %>

<div class="d-flex">
    <a onclick="save()" class="w-50 p-4 mb-4 btn btn-primary d-print-none rounded-0">Save with canvas (text not selectable, but one page)</a>
    <a onclick="print()" class="w-50 p-4 mb-4 btn btn-primary d-print-none rounded-0">Print (text selectable, but multiple pages)</a>
</div>

<%- include('../resume/functions') %>
<main id="toPdf" class="mx-auto p-0">
    <%- include('../resume/personal_info') %>
    <div id="sections-container" class="px-5 pb-4 pt-2">
        <%- include('../resume/summary') %>
        <%- include('../resume/skills') %>
        <%- include('../resume/jobs') %>
        <%- include('../resume/organizations') %>
        <%- include('../resume/education') %>
        <%- include('../resume/languages') %>
        <%- include('../resume/other') %>
        <!-- Remove it if you don't want this on your resume -->
        <div class="d-flex align-items-end justify-content-end">
            <p class="pt-4 text-muted">Made using nickolasrm resume builder</p>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>